* {
  outline: 1px solid cyan;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

header#top {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 1em 0;
  position: relative;
  nav a {
    padding: 1em;
    font-size: 0.9em;
    color: #bebebe;
  }
  > div {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    img.logo {
      position: relative;
      top: 50%;
      margin-top: -50%;
    }
  }
}

header#hero {
  div {
    top: 0;
    display: inline-block;
    max-width: 50%;
    h1 {
      font-size: 72px;
      text-align: center;
    }
  }
  img {
    float: right;
  }
}

section.above-fold {
  clear: both;
}
